.scrollBox::-webkit-scrollbar {
    display: none
}

.box {
    border: 1.4px solid transparent;
}

.box:hover {
    border: 1.4px solid var(--rpress-c-blue-lighter);
}

.dark .hitBgColor {
    background-color: rgba(99, 107, 253, .1);
}

.hitBgColor {
    background-color: rgba(6, 12, 123, 0.3);
}

.loadIcon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}